@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';

@layer base {
  img {
    @apply inline-block;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('/fonts/DMSans-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 500;
  src:
    local(''),
    url('/fonts/DMSans-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 600;
  src:
    local(''),
    url('/fonts/DMSans-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 700;
  src:
    local(''),
    url('/fonts/DMSans-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('/fonts/Inter-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src:
    local(''),
    url('/fonts/Inter-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src:
    local(''),
    url('/fonts/Inter-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src:
    local(''),
    url('/fonts/Inter-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('/fonts/Lato-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src:
    local(''),
    url('/fonts/Lato-Bold.ttf') format('truetype');
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}

#word_html {
  ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
  }

  ol {
    list-style-type: decimal;
    margin-left: 20px;
    padding-left: 20px;
  }

  li {
    margin-bottom: 5px;
  }
  p {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
